<style>
    body{
      background-color: aliceblue;
      height: 100vh;
      width: 100vw;
    }
</style>
<!-- Page for chating -->
<h3>Welcome <%= user.email %></h3>
<ul  id="messages"></ul>
<form id="form">
  <input  id="input" autocomplete="off" /><button>Send</button>
</form>

<!-- js with socket.io logic -->
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
  const form = document.getElementById('form');
  const input = document.getElementById('input');
  const messages = document.getElementById('message');
    
  form.addEventListener('submit', (e) => {
    e.preventDefault();
    if (input.value) {
      socket.emit('chat message', input.value);
      input.value = '';
    }
  });

  socket.on('chat message', (msg) => {
    const li = document.createElement('li');
    li.textContent = msg;
    messages.appendChild(li);
  });
</script>
